body {
  font-family: 'Oxygen';
  padding: 0;
  margin: 0;
  font-family: 'Oxygen';
  font-size: 14px;
}

button {
  width: 100px;
  height: 53px;
  border-radius: 4px;
  background-color: #fa4359;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  border-width: 0px;
}

.button:hover {
  background-color: #ffffff;
  color: #fa4359;
}
