body {
  background-color: #ffd976;
}

input {
  width: 10em;
  height: 2.5em;
  border-radius: 4px;
  border:1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, -1.5);
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #9b9b9b;
  padding-left: 18px;
  margin-top: 1em;
}

p {
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-left: 18px;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: "white";
}

.side-bar {
  grid-column: 1/2;
  margin-left: 2.5em;
  margin-top: 1.5em;
}


#input_3, #input_6, #input_9{
  margin-bottom: 2em;
}

.game-board {
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 33.3%);
  grid-column-gap: 0;
  margin-left: 0.5em;
  margin-top: 1em;
}

.rectangle {
  width: 101%;
  height: 101%;
  overflow: hidden;
  background-image: linear-gradient(135deg, #2e2e2e, #000000);
}


/* grid */

#one {
  grid-column: 1;
  grid-row: 1;
}

#two {
  grid-column: 2;
  grid-row: 1;
}

#three {
  grid-column: 3;
  grid-row: 1;
}

#four {
  grid-column: 1;
  grid-row: 2;
}

#five {
  grid-column: 2;
  grid-row: 2;
}

#six {
  grid-column: 3;
  grid-row: 2;
}

#seven {
  grid-column: 1;
  grid-row: 3;
}

#eight {
  grid-column: 2;
  grid-row: 3;
}

#nine {
  grid-column: 3;
  grid-row: 3;
}
